.course-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2c3e50;
  font-family: Arial, Helvetica, sans-serif;
}
table {
  width: 50%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin: auto;
}
th,
td {
  border: 1px solid #1b1a1a;
  padding: 8px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
th {
  background-color: #3498db;
  color: white;
}
td {
  background-color: #ecf0f1;
}
