body {
  background-color: beige;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: maroon;
  text-shadow: 1px 1px 5px rgb(25, 25, 25);
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  color: rgb(31, 0, 0);
}
